.vertical-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: gray;
}

.vertical-timeline {
  background-color: whitesmoke;
}

.vertical-timeline-element-date {
  color: black;
}

.vertical-timeline-element-title, .vertical-timeline-element-subtitle {
  text-align: center;
}

.vertical-timeline-element-subtitle {
  margin-top: 1em;
}